.App {
  text-align: center;
}
body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #74ebd5 0%, #ACB6E5 50%, #596fd0 100%);
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: #fff; 
}

